body {
	font-family: 'Roboto Slab', serif;
}
.me {
	border-radius: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	width: 20%;
	display: block;
}
h1 {
	text-align: center;
}
.social {
	font-size: 6rem;
	text-align: center;
}